<div class=" mt-2 p-2 bg-secondary text-white rounded">
    <h2>ng-Template</h2>
</div>
<div class="row pt-3">
    <div class="col-3">
        <div class="bg-primary p-3" *ngIf="isUserLoggedIn ; else notLogged">{{loggedUserName}}</div>

        <ng-template #notLogged>
            <div class="bg-primary p-3">
                <span> User not Logged In</span>
            </div>
        </ng-template>
    </div>
</div>
<div class="row pt-2">
    <div class="col-3 text-center">
        <button class="btn btn-success mx-2"> Show</button>
        <button class="btn btn-danger"> Hide</button>
    </div>
</div>